*, ::after, ::before {
    box-sizing: border-box;
    padding: 0px;
    margin: 4px;
}

:root {
    --Light_grey: hsl(0, 0%, 86%);
    --Smokey_grey: hsl(0, 1%, 44%);
    --Purple: hsl(259, 100%, 65%);
    --Light_red: hsl(0, 100%, 67%);
    --Off_black: hsl(0, 0%, 8%)
}

@font-face {
    font-family: Poppins;
    src: url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: PoppinsItalics;
    src: url(./assets/fonts/Poppins-ExtraBoldItalic.ttf);
}

body {
    background-color: var(--Light_grey);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white; 
    padding-right: 160px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px 20px 120px 20px;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 30px;
}

.birthday {
    display: flex;
    flex-direction: column;
    font-size: 11px;
    font-family: Poppins;
    color: var(--Smokey_grey);
    letter-spacing: 1px;
}

input {
    margin-top: 6px;
    width: 110px;
    height: 50px;
    border: 0.5px solid var(--Light_grey);
    border-radius: 5px;
    font-family: Poppins;
    font-size:x-large;
    padding-left: 12px;
}

input::placeholder {
    font-family: Poppins;
    font-size:x-large;
}

.line {
    margin-top: 30px;
    width: 120%;
    height: 1px;
    background-color: var(--Light_grey);
    margin-bottom: 20px;
}

#btn {
    background-color: var(--Purple);
    position: absolute;
    top: 110px;
    right: 65px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

btn:hover {
    transform: rotate(90deg);
}

#error-message {
    color:hsl(0, 100%, 67%);
    font-size: 12px;
    margin-top: -30px;
}

p {
    font-family: PoppinsItalics;
    font-weight: bolder;
    font-size: 60px;
    line-height: 70px;

}

span {
    color: var(--Purple);
    padding-right: 2px;
    margin-top: 10px;
    font-size: larger;
    
}